* {
  box-sizing: border-box;
}
.container {
  width: 480px;
}
.display {
  background-color: #ccc;
  width: 450px;
  height: 120px;
  margin: 12px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.display #previous-operand {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
}
.display #current-operand {
  color: black;
  font-size: 2.5rem;
}

.btn {
  padding: 30px 40px;
}
